
<%= form_with model: [@article, @product], local: true do |f| %>
 <%= f.text_field :name, class: "input", placeholder: 'Име' %>
  <%= f.submit "Save", class: 'button is-info' %>
<% end %>
<%= form_with model: [@article, @product], local: true do |f| %>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Маица инфо</span>
  </div>
  <%= f.text_field :name, class: "form-control" %>
 </div>
<div class="input-group">
  <%= f.text_field :price, class: "form-control" %>
  <span class="input-group-text">ден</span>
</div>
<%= f.label :main_image %>
<%= f.file_field :main_image %>
<%= f.submit "Save", class:"button btn btn-primary btn-lg" %>
<% end %>